.idea
venv/
Class/__pycache__/ball.cpython-37.pyc
Class/world.pyc
Class/__init__.pyc
__pycache__/constants.cpython-37.pyc
Python/Lib/site-packages/pyganim/__pycache__/__init__.cpython-37.pyc
Python/Lib/site-packages/pyganim/__init__.py
Python/Lib/site-packages/Pyganim-0.9.2-py3.7.egg-info/top_level.txt
Python/Lib/site-packages/Pyganim-0.9.2-py3.7.egg-info/installed-files.txt
Python/Lib/site-packages/Pyganim-0.9.2-py3.7.egg-info/dependency_links.txt
Python/Lib/site-packages/Pyganim-0.9.2-py3.7.egg-info/SOURCES.txt
Python/Lib/site-packages/Pyganim-0.9.2-py3.7.egg-info/PKG-INFO
Imgs/png/Walk (9).png
Imgs/png/Walk (8).png
Imgs/png/Walk (7).png
Imgs/png/Walk (6).png
Imgs/png/Walk (5).png
Imgs/png/Walk (4).png
Imgs/png/Walk (3).png
Imgs/png/Walk (2).png
Imgs/png/Walk (10).png
Imgs/png/Walk (1).png
Imgs/png/Run (8).png
Imgs/png/Run (7).png
Imgs/png/Run (6).png
Imgs/png/Run (5).png
Imgs/png/Run (4).png
Imgs/png/Run (3).png
Imgs/png/Run (2).png
Imgs/png/Run (1).png
Imgs/png/Jump (9).png
Imgs/png/Jump (8).png
Imgs/png/Jump (7).png
Imgs/png/Jump (6).png
Imgs/png/Jump (5).png
Imgs/png/Jump (4).png
Imgs/png/Jump (3).png
Imgs/png/Jump (2).png
Imgs/png/Jump (12).png
Imgs/png/Jump (11).png
Imgs/png/Jump (10).png
Imgs/png/Jump (1).png
Imgs/png/Idle (9).png
Imgs/png/Idle (8).png
Imgs/png/Idle (7).png
Imgs/png/Idle (6).png
Imgs/png/Idle (5).png
Imgs/png/Idle (4).png
Imgs/png/Idle (3).png
Imgs/png/Idle (2).png
Imgs/png/Idle (10).png
Imgs/png/Idle (1).png
Imgs/png/Dead (8).png
Imgs/png/Dead (7).png
Imgs/png/Dead (6).png
Imgs/png/Dead (5).png
Imgs/png/Dead (4).png
Imgs/png/Dead (3).png
Imgs/png/Dead (2).png
Imgs/png/Dead (1).png
Imgs/Dino_Sprites.png
Class/__pycache__/sprites.cpython-37.pyc
Class/__pycache__/characters.cpython-37.pyc
__pycache__/projectile.cpython-37.pyc
Class/__pycache__/world.cpython-37.pyc
Class/__pycache__/__init__.cpython-37.pyc
*.pyc
